HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

logs
*.session.sql
temp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/


node_modules


*.class
*.jar
uploads
pg_data
*.log

.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

out/
/src/main/resources/static/libs/node_modules
/src/main/resources/static/libs/package-lock.json

**/secret.properties
temp.txt
/logfiles
/bin
test.out
**/pg_data
src/main/resources/libs/*.so
src/main/resources/nativeLibs/*.so
